<!DOCTYPE html>
<html>
  <head>
    <title>Prediksi Produksi Telur</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <h2>Prediksi Produksi Telur</h2>

      <form action="/predict" method="POST" class="form-box">
        <label>Temperatur (°C)</label>
        <input type="text" name="temperature" required />

        <label>Ammonia (ppm)</label>
        <input type="text" name="ammonia" required />

        <label>Jumlah Pakan per Ayam (gr)</label>
        <input type="text" name="feeding" required />

        <label>Jumlah Ayam</label>
        <input type="text" name="chickens" required />

        <button type="submit">Prediksi</button>
      </form>

      {% if result %}
      <div class="result-box">
        <h3>Hasil Prediksi Produksi Telur: {{ result }}</h3>
      </div>
      {% endif %}
    </div>
  </body>
</html>
